<div class="card">  
  <div class="card-body">  
    <form [formGroup]="angForm" novalidate>  
      <div class="form-group">  
        <label class="col-md-4">Task Name</label>  
        <input type="text" class="form-control"   
          formControlName="TaskName"   
          #TaskName />  
      </div>  
      <div *ngIf="angForm.controls['TaskName'].invalid && (angForm.controls['TaskName'].dirty || angForm.controls['TaskName'].touched)" class="alert alert-danger">  
        <div *ngIf="angForm.controls['TaskName'].errors.required">  
          Task Name is required.  
        </div>  
      </div>  
      <div class="form-group">  
        <label class="col-md-4">task Description </label>  
        <textarea class="form-control" rows = 7 cols = "5"  
        formControlName="taskDescription"   
        #TaskDescription></textarea>  
      </div>  
      <div *ngIf="angForm.controls['TaskDescription'].invalid && (angForm.controls['TaskDescription'].dirty || angForm.controls['TaskDescription'].touched)" class="alert alert-danger">  
        <div *ngIf="angForm.controls['TaskDescription'].errors.required">  
          Task Description is required.  
        </div>  
      </div>  
      <div class="form-group">  
        <label class="col-md-4">Task Price</label>  
        <input type="text" class="form-control"   
          formControlName="TaskPrice"   
          #TaskPrice  
        />  
      </div>  
      <div *ngIf="angForm.controls['TaskPrice'].invalid && (angForm.controls['TaskPrice'].dirty || angForm.controls['TaskPrice'].touched)" class="alert alert-danger">  
        <div *ngIf="angForm.controls['TaskPrice'].errors.required">  
          Task Price is required.  
        </div>  
      </div>  
      <div class="form-group">  
        <button type="submit" class="btn btn-primary"  
        [disabled]="angForm.pristine || angForm.invalid" >  
          Create Task  
        </button>  
      </div>  
    </form>  
  </div>  
</div>  